.header_wraper {
  height: 90px;
/*position: fixed;
top: 0;*/
  width: 100%;
  display: flex;
  z-index: 5;
  gap: 20px;
  justify-content: space-between !important;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
}
.header_left {
  display: flex;
  gap: 30px;
  padding-left: 49px;
  align-items: center;
}
.profile_togle_inner{
  padding: 23px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  border-bottom: 2px solid #BCBCBC;
}
.header_date{
  color: #bcbcbc;
  font-family: "DM Sans", sans-serif;
  min-width: 100px;
}

.mobile_menu_btn{
  padding-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header_search {
  height: 63px;
  border-radius: 41px;
  border: 2px solid #bcbcbc;
  width: 335px;
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #bcbcbc;
}
.header_profile{
  height: 64px;
  width: 64px;
}
.profile_toggle{
  position: absolute;
  height: 271px;
  background: #FFFFFF;
  border: 0.3px solid #BCBCBC;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  width: 315px;
  top: 60px;
  z-index: 15 !important;
  border-radius: 10px;
}
.header_right_side {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  cursor: pointer;
  padding-right: 49px;
}
.notisep {
  height: 90px;
  border: 1px solid #bcbcbc;
}
.user_status {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 87px;
  margin-top: 3px;
  color: #bcbcbc;
  font-size: 12px;
  padding: 0px 0px 1px 0px;
  border: 1px solid #bcbcbc;
  border-radius: 6px;
}
.ip_ele {
  height: 100%;
  padding-left: 32px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 41px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #bcbcbc;
}
@media screen and (max-width:1440px){
  .header_left {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
  }
  .header_right_side {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-right: 20px;
  }
  .profile_togle_inner{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    border-bottom: 2px solid #BCBCBC;
  }
  .profile_toggle{
    position: absolute;
    height: 230px;
    background: #FFFFFF;
    border: 0.3px solid #BCBCBC;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    top: 60px;
    left: -20px;
    border-radius: 10px;
  }
}
@media screen and (max-width:1200px){
  .header_search {
    height: 53px;
    border-radius: 41px;
    border: 2px solid #bcbcbc;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #bcbcbc;
  }
  .header_wraper {
    height: 80px;
  
    width: 100%;
    display: flex;
    z-index: 5;
    gap: 20px;
    justify-content: space-between !important;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
  }
  .ip_ele {
    height: 100%;
    padding-left: 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 41px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #bcbcbc;
  }
  .notisep {
    height: 80px;
    border: 1px solid #bcbcbc;
  }
  .header_date{
    display: none;
  }
  .header_profile{
    height: 44px !important;
    width: 44px !important;
  }
}
@media screen and (min-width:769px){
  .mobile_menu_btn{
    padding-left: 20px;
    font-size: 20px;
    display: none;
    cursor: pointer;
  }
}
@media screen and (max-width:768px){
  .notification_icon{
    display: none;
  }
    .notisep {
    height: 80px;
    border: 1px solid #bcbcbc;
  }
  .notisep {
    height: 80px;
    display: none;
    border: 1px solid #bcbcbc;
  }
  .ip_ele {
    height: 100%;
    padding-left: 10px;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 41px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #bcbcbc;
  }
  .profile_toggle{
    position: absolute;
    height: 200px;
    background: #FFFFFF;
    border: 0.3px solid #BCBCBC;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    top: 40px;
    left: -100px;
    border-radius: 10px;
  }
  .profile_togle_inner{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    border-bottom: 2px solid #BCBCBC;
  }
}
@media screen and (min-width:669px){

}
@media screen and (max-width:668px){
  .header_search{
    display: none;
  }
}
@media screen and (max-width:425px){
  .profile_toggle{
    position: absolute;
    height: 200px;
    background: #FFFFFF;
    border: 0.3px solid #BCBCBC;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    top: 40px;
    left: -50px;
    z-index: 15 !important;
    border-radius: 10px;
  }
}