.main_container {
  width: 100%;
  background-color: white;
  box-shadow: 0px 21.9915px 65.9744px rgba(0, 0, 0, 0.05);
  border-radius: 31.4164px;
  height: auto;
  margin-top: 60px;
  padding-bottom: 30px;

}
