.main_wrapper{
	width: 100%;
	background-color: white;
	border-radius: 15px;
	margin-top: 43px;
	padding: 19px 0px 76px 0px;
}
.form_seprator{
	width: 100%;
	margin: 20px 0px;
	border: 1px solid #BCBCBC;
}